button {
  height: 40px;
  font-size: 20px;
}

.counter {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.eat {
  margin-top: 50px;
  margin-bottom: 200px;
}

lazy-loaded-component-placeholder {
  background: #ddd;
  display: block;
  width: 300px;
}
