<h2>Angular 9 Ivy vs View Engine demo app!</h2>

<div class="counter">
  <button [disabled]="!!eatingStatus" (click)="removePizza()">-</button>

  <app-counter
    [value]="pizzaCount"
    [disable]="!!eatingStatus"
    [foo]="foo()"
    (wantMore)="more()"
  >
    <div>pizzas</div>
  </app-counter>

  <button [disabled]="!!eatingStatus" (click)="addPizza()">+</button>
</div>

<div class="eat">
  <button (click)="eat()">EAT THEM ALL</button>

  <h3>{{ eatingStatus }}</h3>
</div>

<button (click)="loadLazyComponent()">Load lazy component!</button>

<lazy-loaded-component-placeholder></lazy-loaded-component-placeholder>
